
\.idea/misc\.xml

\.idea/modules\.xml

\.idea/plateGuard\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

plateGuard_decrypt/config\.json

plateGuard_decrypt/pilDecrypt\.pyc

plateGuard_encrypt/config\.json

plateGuard_encrypt/coordRetrv\.pyc

plateGuard_encrypt/pilEncrypt\.pyc

plateGuard_encrypt/signalHandler\.py

plateGuard_encrypt/signalHandler\.pyc

test_plates/backup/test1\.png

test_plates/ea7the\.png

test_plates/test1\.png

test_plates/twoplates\.png

test/config\.json


CPP/build/

CPP/ImageDecrypt/build/

CPP/ImageEncrypt/build/

*.o

CPP/*/build/

Python/\.idea/workspace\.xml

Python/plateEncrypt/__pycache__/

Python/plateEncrypt/output\.avi

Python/\.idea/dictionaries/michael\.xml

Python/plateEncrypt/config\.json

Python/20190401/0000/

test_plates/

Python/plateDecrypt/\.idea/

Python/plateEncrypt/\.idea/

Python/20190401/\.idea/

Python/old/\.idea/

*.pyc

*.avi

Python/plateEncrypt/output\.png
